body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor de la imagen de fondo */
.background {
    background-image: url('../imge/fondoneutro.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 68px;
    height: 100vh; /* El 100% de la altura de la ventana gráfica */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.joystickspos {
    margin-top: 20px;
    display: flex;
    padding: 10px;
    background-color: rgba(37, 36, 36, 0.89);
    border: 1px solid rgba(63, 63, 63);
    border-radius: 15px;
    position: relative; /* Añadimos posición relativa para que el z-index funcione */
    z-index: 0; /* Aseguramos que esté detrás de otros elementos */
}
.joystickpos input[type="number"] {
    color: black;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
    width: 40px;
    font-size: 10px;
}

.joystickpos label {
    color: white; /* Cambia el color del texto a blanco */
}

.joystickpos p {
    color: rgb(255, 255, 255);
}


.menu_button {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.menu_button img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.menu_button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.menu_button:hover img {
    filter: brightness(0.8);
    opacity: 1; /* Hace que las imágenes sean más brillantes al pasar el cursor sobre ellas */
}

/* slider */
.buttons_slider {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 720px;
    height: auto;
    padding: 10px;
}
body {
    background-image: url('../img/fondoneutro.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.buttons_slider {
    display: flex; /* Utiliza Flexbox para alinear en fila */
    flex-wrap: wrap; /* Permite que los elementos envuelvan si no caben en una línea */
    justify-content: space-between; /* Espacia los elementos */
}

.joysticks, .joysticks1 {
    flex: 1; /* Ocupa el mismo espacio disponible */
    padding: 10px;
    background-color: rgba(37, 36, 36, 0.89);
    border: 1px solid rgba(63, 63, 63);
    border-radius: 15px;
    margin: 10px; /* Margen entre los elementos */
}

.joysticks {
    display: flex;
    flex-direction: column;
}

.joysticks1 {
    display: flex;
    flex-direction: column;
}

.column, .column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joystick, .joystick1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.slider, .sliderpos {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;
    background: linear-gradient(to right, #d3d3d3, #ffffff);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover, .sliderpos:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb, .sliderpos::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.slider::-moz-range-thumb, .sliderpos::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.joystick input[type="number"], .joystick1 input[type="number"] {
    color: black;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
    width: 40px;
    font-size: 10px;
}

.joystick label, .joystick1 label {
    color: white;
}

.joystick p, .joystick1 p {
    color: rgb(255, 255, 255);
}


.cont_menu {
    background-color: rgba(37, 36, 36, 0.89);
    border: 1px solid rgba(63, 63, 63);
    border-radius: 15px;
    padding: 10px; /* Ajusta el padding si es necesario */
    width: 100%;
    max-width: 800px; /* Más ancho */
    position: absolute;
    top: 670px; /* Ajusta la distancia del contenedor al borde inferior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
    z-index: 999;
    display: flex; /* Utiliza flexbox para alinear los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    color: white; /* Texto en blanco */
    height: 50px;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#arrow-keys {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.arrow {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 3px solid #e6e6e6;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    display: inline-block;
    margin: 5px;
    background: radial-gradient(circle at center, rgba(0, 120, 190, 0.5) 0%, rgb(81, 109, 145) 70%), #546b77;
    border-radius: 50%;
}

.arrow:hover {
    transform: scale(1.1);
    background: radial-gradient(circle at center, rgba(77, 77, 77, 0.8) 0%, rgba(255,255,255,0) 70%), #ced8dd;
    filter: grayscale(50%) brightness(100%);
}

.arrow.active {
    background: radial-gradient(circle at center, rgba(39, 82, 83, 0.651) 0%, rgba(161, 161, 255, 0) 70%), #bdbcbc;
    filter: grayscale(0%) brightness(100%);
}

.arrow.active.h { border-bottom-color: #ffffff; }
.arrow.active.e { border-right-color: #ffffff; }
.arrow.active.c { border-top-color: #ffffff; }
.arrow.active.o { border-left-color: #ffffff; }


.arrow.h {
    border-left: 10px solid #ccc;
    border-bottom: 10px solid transparent;
}

.arrow.e {
    border-right: 10px solid #ccc;
    border-bottom: 10px solid transparent;
}
.arrow.c {
    border-left: 10px solid #ccc;
    border-bottom: 10px solid transparent;
    
}
.arrow.o {
    border-left: 10px solid #ccc;
    border-bottom: 10px solid transparent;
}

.arrow:hover {
    transform: scale(1.1);
    background: radial-gradient(circle at center, rgba(77, 77, 77, 0.8) 0%, rgba(255,255,255,0) 70%), #ced8dd;
    filter: grayscale(50%) brightness(100%);
}

#key-status {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
    #controls {
        bottom: 20px;
    }
}