<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Brazo</title>
    <link rel="stylesheet" href="../static/css/stylejoybrazo.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<style>
    body {
        background-image: url('../img/fondoneutro.jpg'); /* Ruta de tu imagen de fondo */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
<body>
    <div class="background">
        <div class="buttons_slider">
            <div class="joysticks-wrapper">
                <div class="joysticks">
                    <div class="column">
                        <div class="joystick">
                            <label for="Grado1">Grado 1:</label>
                            <input type="range" class="slider" id="grado1" min="0" max="360" value="0">
                            <input type="number" class="cuadro" id="angulo1" name="angulo1" min="0" max="360" value="0">                        
                        </div>
                        <div class="joystick">
                            <label for="Grado2">Grado 2:</label>
                            <input type="range" class="slider" id="grado2" min="0" max="360" value="0">
                            <input type="number" class="cuadro" id="angulo2" name="angulo2" min="0" max="360" value="0">
                        </div>
                        <div class="joystick">
                            <label for="Grado3">Grado 3:</label>
                            <input type="range" class="slider" id="grado3" min="0" max="360" value="0">
                            <input type="number" class="cuadro" id="angulo3" name="angulo3" min="0" max="360" value="0">
                        </div>
                        <div class="joystick">
                            <label for="Grado4">Grado 4:</label>
                            <input type="range" class="slider" id="grado4" min="0" max="360" value="0">
                            <input type="number" class="cuadro" id="angulo4" name="angulo4" min="0" max="360" value="0">
                        </div>
                        <div class="joystick">
                            <label for="Grado5">Grado5:</label>
                            <input type="range" class="slider" id="grado5" min="0" max="360" value="0">
                            <input type="number" class="cuadro" id="angulo5" name="angulo5" min="0" max="360" value="0">
                        </div>
                        <div class="joystick">
                            <label for="Grado6">Grado6:</label>
                            <input type="range" class="slider" id="grado6" min="0" max="360" value="0">
                            <input type="number" class="cuadro" id="angulo6" name="angulo6" min="0" max="360" value="0">
                        </div>
                        <div class="joystick">
                            <label for="Grado7">Grado7:</label>
                            <input type="range" class="slider" id="grado7" min="0" max="360" value="0">
                            <input type="number" class="cuadro" id="angulo7" name="angulo7" min="0" max="360" value="0">
                        </div>
                    </div>
                </div>

                <div class="joysticks1">
                    <div class="column1">
                        <div class="joystick1">
                            <label for="VELOCIDAD1">Velocidad1:</label>
                            <input type="range" class="slider" id="VELOCIDAD1" min="0" max="100" value="0">
                            <input type="number" class="cuadro" id="vel1" name="vel1" min="0" max="100" value="0">
                        </div>
                        <div class="joystick1">
                            <label for="VELOCIDAD2">Velocidad2:</label>
                            <input type="range" class="slider" id="VELOCIDAD2" min="0" max="100" value="0">
                            <input type="number" class="cuadro" id="vel2" name="vel2" min="0" max="100" value="0">
                        </div>
                        <div class="joystick1">
                            <label for="VELOCIDAD3">Velocidad3:</label>
                            <input type="range" class="slider" id="VELOCIDAD3" min="0" max="100" value="0">
                            <input type="number" class="cuadro" id="vel3" name="vel3" min="0" max="100" value="0">
                        </div>
                        <div class="joystick1">
                            <label for="VELOCIDAD4">Velocidad4:</label>
                            <input type="range" class="slider" id="VELOCIDAD4" min="0" max="100" value="0">
                            <input type="number" class="cuadro" id="vel4" name="vel4" min="0" max="100" value="0">
                        </div>
                        <div class="joystick1">
                            <label for="VELOCIDAD5">Velocidad5:</label>
                            <input type="range" class="slider" id="VELOCIDAD5" min="0" max="100" value="0">
                            <input type="number" class="cuadro" id="vel5" name="vel5" min="0" max="100" value="0">
                        </div>
                        <div class="joystick1">
                            <label for="VELOCIDAD6">Velocidad6:</label>
                            <input type="range" class="slider" id="VELOCIDAD6" min="0" max="100" value="0">
                            <input type="number" class="cuadro" id="vel6" name="vel6" min="0" max="100" value="0">
                        </div>
                        <div class="joystick1">
                            <label for="VELOCIDAD7">Velocidad7:</label>
                            <input type="range" class="slider" id="VELOCIDAD7" min="0" max="100" value="0">
                            <input type="number" class="cuadro" id="vel7" name="vel7" min="0" max="100" value="0">
                        </div>
                    </div>
                </div>
            </div>

            <div class="center">
                <div class="joystick">
                    <label for="referen">Referencia:</label>
                    <input type="range" class="slider" id="referen" min="0" max="100" value="0">
                    <input type="number" id="Referencia" name="Referencia" min="0" max="100" value="0">
                </div>
                
            </div>
            
            <div class="joystickspos">
                <div class="columnpos">
                    <div class="joystickpos">
                        <label for="POSICIONX">Posicion X:</label>
                        <input type="range" class="sliderpos" id="POSICIONX" min="0" max="100" value="0">
                        <input type="number" id="posx" name="posx" min="0" max="100" value="0">
                    </div>
                    <div class="joystickpos">
                        <label for="POSICIONY">Posicion Y:</label>
                        <input type="range" class="sliderpos" id="POSICIONY" min="0" max="100" value="0">
                        <input type="number" id="posy" name="posy" min="0" max="100" value="0">
                    </div>
                    <div class="joystickpos">
                        <label for="POSICIONZ">Posicion Z:</label>
                        <input type="range" class="sliderpos" id="POSICIONZ" min="0" max="100" value="0">
                        <input type="number" id="posz" name="poz" min="0" max="100" value="0">
                    </div>
                </div>
                
            </div>
        </div>
        <div class="cont_menu" id="contMenu">
            <div id="controls">
                <div id="arrow-keys">
                    <button class="arrow w" id="h">H</button>
                    <button class="arrow d" id="e">E</button>
                    <button class="arrow s" id="c">C</button>
                    <button class="arrow a" id="o">O</button>
                    <div id="key-status">Última tecla presionada: </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="../static/js/scriptjoybrazo.js"></script>
</body>
</html>
